## This notebook let's take a look at reindex

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.randn(1, 4).tolist()

[[-1.2397905458029188,
  0.06336419863545814,
  -1.3406420618084767,
  0.48739820359450875]]

In [4]:
s1 = pd.Series(np.random.randn(1, 4).tolist()[0], index=['A', 'B','C','D'])
s1

A   -0.981401
B    0.336212
C   -0.815247
D   -0.121890
dtype: float64

### For series, reindex can be smart

In [5]:
s2 = s1.reindex(['A', 'B','C','D','E','F','G'])
s2

A   -0.981401
B    0.336212
C   -0.815247
D   -0.121890
E         NaN
F         NaN
G         NaN
dtype: float64

In [10]:
s3 = s2.reindex(['A', 'B','C','D','E','F','G','H'],fill_value=0)
s3

A    0.931752
B    1.797262
C    0.070559
D   -1.052753
E         NaN
F         NaN
G         NaN
H    0.000000
dtype: float64

### Pandas Reindex

In [20]:
df = pd.DataFrame(np.random.randn(4, 4), index = ['r1','r2','r3','r4'], columns=['c1','c2','c3','c4'])
df

          c1        c2        c3        c4
r1  0.509212 -2.183747 -0.504626  1.268728
r2  1.384487  0.392027 -0.439680 -1.251920
r3  0.637138  0.102116 -1.806290  0.007332
r4 -0.141316  1.502291  1.290872 -0.087561

In [21]:
df.reindex(['r1','r2','r3','r6','r4','r5'])

          c1        c2        c3        c4
r1  0.509212 -2.183747 -0.504626  1.268728
r2  1.384487  0.392027 -0.439680 -1.251920
r3  0.637138  0.102116 -1.806290  0.007332
r6       NaN       NaN       NaN       NaN
r4 -0.141316  1.502291  1.290872 -0.087561
r5       NaN       NaN       NaN       NaN

In [22]:
df.reindex(columns=['c1','c2','c3','c4','c5'])

          c1        c2        c3        c4  c5
r1  0.509212 -2.183747 -0.504626  1.268728 NaN
r2  1.384487  0.392027 -0.439680 -1.251920 NaN
r3  0.637138  0.102116 -1.806290  0.007332 NaN
r4 -0.141316  1.502291  1.290872 -0.087561 NaN