In [1]:
import numpy as np
import pandas as pd

### Drop Series

In [4]:
s1 = pd.Series(np.arange(5),index=[1,2,3,4,5])
s1

1    0
2    1
3    2
4    3
5    4
dtype: int32

In [5]:
s1.drop(4)

1    0
2    1
3    2
5    4
dtype: int32

### Drop DataFrame

In [5]:
#In pandas drop columns and rows are very simple

In [6]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  1.238479  1.429866 -0.173723 -0.837504  0.471022
r2  1.317707 -0.016760 -1.471429 -0.705368 -0.410185
r3 -0.270705 -0.412341  0.863610  0.531112 -0.909393
r4 -1.549860  0.311683  1.651000 -1.280106 -0.428364

In [7]:
df1.drop('r1')

          c1        c2        c3        c4        c5
r2  1.317707 -0.016760 -1.471429 -0.705368 -0.410185
r3 -0.270705 -0.412341  0.863610  0.531112 -0.909393
r4 -1.549860  0.311683  1.651000 -1.280106 -0.428364

In [9]:
df1.drop('c5',axis=1)

          c1        c2        c3        c4
r1  1.238479  1.429866 -0.173723 -0.837504
r2  1.317707 -0.016760 -1.471429 -0.705368
r3 -0.270705 -0.412341  0.863610  0.531112
r4 -1.549860  0.311683  1.651000 -1.280106

In [10]:
df1

          c1        c2        c3        c4        c5
r1  1.238479  1.429866 -0.173723 -0.837504  0.471022
r2  1.317707 -0.016760 -1.471429 -0.705368 -0.410185
r3 -0.270705 -0.412341  0.863610  0.531112 -0.909393
r4 -1.549860  0.311683  1.651000 -1.280106 -0.428364

In [11]:
df1.drop('c5',axis=1,inplace=True)

In [12]:
df1

          c1        c2        c3        c4
r1  1.238479  1.429866 -0.173723 -0.837504
r2  1.317707 -0.016760 -1.471429 -0.705368
r3 -0.270705 -0.412341  0.863610  0.531112
r4 -1.549860  0.311683  1.651000 -1.280106