In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(5),index=['A','B','C','D','E'])
s1

A    0
B    1
C    2
D    3
E    4
dtype: int32

In [3]:
s2 = pd.Series(np.arange(3),index=['A','B','C'])
s2

A    0
B    1
C    2
dtype: int32

In [4]:
s1 + s2

A    0.0
B    2.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [5]:
df1 = pd.DataFrame(np.random.randn(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1 -0.157552 -0.340640 -1.129053  0.680665  1.074955
r2 -0.219999 -1.116553 -0.104566 -1.875618 -0.367890
r3  0.319466 -0.323562 -0.197999  0.078947  0.332618
r4  0.032439  0.467323  0.377975  1.480513 -0.583052

In [6]:
df2 = pd.DataFrame(np.random.randn(3,4),index=['r1','r2','r3'],columns=['c1','c2','c3','c4'])
df2

          c1        c2        c3        c4
r1  0.062459  1.857771 -1.477511 -0.935251
r2  1.794473 -0.437104 -0.021737 -1.694664
r3  1.549106 -0.525580 -0.003594 -0.245950

In [7]:
df1+df2

          c1        c2        c3        c4  c5
r1 -0.095093  1.517131 -2.606565 -0.254586 NaN
r2  1.574474 -1.553657 -0.126303 -3.570282 NaN
r3  1.868573 -0.849143 -0.201592 -0.167003 NaN
r4       NaN       NaN       NaN       NaN NaN

In [18]:
df1.add(df2,fill_value=100)   #use fill_value +df1

            c1         c2         c3         c4          c5
r1   -0.991999   2.289700   1.623053   0.503553   98.616960
r2   -0.679240  -1.089150   0.304772  -0.912239   99.982956
r3    1.196631   0.318141  -0.934851   2.392617  101.662768
r4  100.925068  98.866399  98.589487  99.487996   99.882141

In [9]:
s3 = df1.ix[0]  # select first row
s3

c1    0.516080
c2   -0.374192
c3   -0.202207
c4   -1.575968
c5    1.648073
Name: r1, dtype: float64

In [10]:
df2 - s3

          c1        c2        c3        c4  c5
r1  0.337971  2.239310 -1.005781 -0.797539 NaN
r2 -0.690674  0.264430  0.479887  2.217841 NaN
r3  0.513387  2.229078  1.212956  2.639626 NaN